decays_PDG2016Plus_massorder_new.dat
decays_PDG2016Plus_massorder_original.dat
decays_PDG2016Plus_massorder_reversed.dat
decays_QM2016Plus_massorder.dat
decays_PDG2016Plus_massorder_new_reversed.dat
decays_PDG2016Plus_massorder.dat
decays_PDG2016Plus_massorder_err.dat
decays_QM2016Plus_massorder_reversed.dat
decays_PDG2016Plus_massorder_f0.dat
decays_QM2016Plus_massorder_f0.dat
Dataframes/*
PDG-related/List_onlymine.txt
PDG-related/List.txt
calculator.ipynb
Database/pdg-2025-v0.2.1.sqlite
Datalayout/*
cuts_study/*
.gitignore
__pycache__/*
Datafiles_sampled/*
logs/*
copy_farm.sh
Plots/*

